---
import Footer from '../components/Footer.astro';
import CallToAction from '../components/CallToAction.astro';
import ChooseUs from '../components/ChooseUs.astro';
import Clients from '../components/Clients.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import Layout from '../layouts/Layout.astro';
import Project from '../components/Project.astro';
---

<Layout title="Delineas Brands">
	<Header />
	<main>
		<Hero />
		<Services />
		<ChooseUs />
		<CallToAction />
		<Project />
		<Clients />
	</main>
	<Footer />
</Layout>
