---
import ClientPill from "./ClientPill.astro";
import Marquee from "./Marquee.astro";
---

<section class="py-32 flex flex-col gap-8">
  <h2 class="text-center text-primary font-black text-4xl md:text-5xl">
    Nuestros Clientes
  </h2>
  <div class="overflow-hidden flex flex-col gap-4">
    <Marquee>
      <ClientPill name="2bsolutions" image="/images/clients/2bsolutions.webp" />
      <ClientPill name="robbles" image="/images/clients/robbles.webp" />
      <ClientPill name="acesco" image="/images/clients/acesco.webp" />
      <ClientPill name="bmi" image="/images/clients/bmi.webp" />
      <ClientPill name="botika" image="/images/clients/botika.webp" />
      <ClientPill name="AMR" image="/images/clients/AMR.webp" />
      <ClientPill
        name="cannabis-house"
        image="/images/clients/cannabis-house.webp"
      />
    </Marquee>
    <Marquee  class="![animation-direction:reverse]">
      <ClientPill name="fransisco" image="/images/clients/fransisco.webp" />
      <ClientPill name="santorini" image="/images/clients/santorini.webp" />
      <ClientPill name="hierros-acero" image="/images/clients/hierros-acero.webp" />
      <ClientPill name="inoxcenter" image="/images/clients/inoxcenter.webp" />
      <ClientPill name="keyproperty" image="/images/clients/keyproperty.webp" />
      <ClientPill
        name="la-corona"
        image="/images/clients/la-corona.webp"
      />
      <ClientPill name="logicem" image="/images/clients/logicem.webp" />
    </Marquee>
    <Marquee>
      <ClientPill name="nicoll" image="/images/clients/nicoll.webp" />
      <ClientPill name="serviparamo" image="/images/clients/serviparamo.webp" />
      <ClientPill name="ses" image="/images/clients/ses.webp" />
      <ClientPill name="steckerl" image="/images/clients/steckerl.webp" />
      <ClientPill name="col-cranes" image="/images/clients/col-cranes.webp" />
      <ClientPill
        name="triple-s"
        image="/images/clients/triple-s.webp"
      />
    </Marquee>
  </div>
</section>
