---
const { className } = Astro.props;
---

<div
  role="marquee"
  class:list={["animate-marquee flex items-stretch w-max gap-4", className]}
>
  <slot />
</div>

<style>
  :root {
    --gap: 1rem;
    --duration: 40s;
  }

  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .animate-marquee:hover {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-50% - var(--gap) / 2));
    }
  }
</style>
