---
const { class: className } = Astro.props;
---

<div class="marquee flex w-max gap-4" role="marquee">
  <div class:list={["animate-marquee flex items-stretch w-max gap-4", className]}>
    <slot />
  </div>
  <div class:list={["animate-marquee flex items-stretch w-max gap-4", className]}>
    <slot />
  </div>
</div>

<style>
  :root {
    --gap: 1rem;
    --duration: 40s;
  }

  .animate-marquee {
    animation: marquee var(--duration) linear infinite;
  }

  .marquee:hover .animate-marquee  {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-100% - var(--gap) / 2));
    }
  }
</style>
